{% extends 'destination_dog/base.html' %}
{% load staticfiles %}

{% block title_block %}
    About Us
{% endblock %}



{% block body_block %}
<div>
        DestinationDog is a web application which aims to provide a
        relaxed, informative, and friendly environment for dog lovers 
        from all walks of life to be able to share their experience. <br/>
        DestinationDog will provide advice and guidance to prospective owners
        to help them to establish the right breed for them and their lifestyle. <br/>
        The application will also provide dog owners with an ability to be able
        to share stories and advice with other dog owners. <br/>
        The application will also provide a place for dog-themed businesses to 
        be able to advertise their services and increase publication which would
        normally be lost on the likes of Google.<br/>
        The application will provide a place for dog owners to post pictures of
        their dog where others can delight in the pictures and users can vote 
        for their dog of the week!<br/>

        <strong>{{ boldmessage }}</strong><br/>
</div>
{% endblock %}