{% extends 'destination_dog/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Add Services
{% endblock %}



{% block body_block %}
<div>
    <form method="post" action="{% url 'add_service' %}" enctype="multipart/form-data">
        {% csrf_token %}
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}

        {% for field in form.visible_fields %}
            {{ field.help_text }}
            {{ field }}<br><br>
        {% endfor %}
        <input type="submit" name="submit" value="Add Service" />
        <br>* denotes those fields which are required
    </form>

    <div>
        <div id="map" style="width:350px;height:350px;background:yellow"></div>
    </div>
</div>

<script>
    function initAutocomplete() {
        var map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 55.85924, lng: -4.26095},
          zoom: 5,
          mapTypeId: 'roadmap'
        });

        
        var input = document.getElementById('pac-input');
        var searchBox = new google.maps.places.SearchBox(input);
        map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

        
        map.addListener('bounds_changed', function() {
         searchBox.setBounds(map.getBounds());
        });

        var markers = [];
        
        searchBox.addListener('places_changed', function() {
          var places = searchBox.getPlaces();

          if (places.length == 0) {
            return;
          }

          // Clear out the old markers.
          markers.forEach(function(marker) {
            marker.setMap(null);
          });
          markers = [];

          // For each place, get the icon, name and location.
          var bounds = new google.maps.LatLngBounds();
          places.forEach(function(place) {
            if (!place.geometry) {
              console.log("Returned place contains no geometry");
              return;
            }
            var icon = {
              url: place.icon,
              size: new google.maps.Size(71, 71),
              origin: new google.maps.Point(0, 0),
              anchor: new google.maps.Point(17, 34),
              scaledSize: new google.maps.Size(25, 25)
            };

            // Create a marker for each place.
            markers.push(new google.maps.Marker({
              map: map,
              icon: icon,
              title: place.name,
              position: place.geometry.location
            }));

            var output;

            places.forEach(function(place) {
                output += place.name + place.vicinity + "--------";
            });
            document.getElementById('results').innerHTML = output;

            if (place.geometry.viewport) {
              // Only geocodes have viewport.
              bounds.union(place.geometry.viewport);
            } else {
              bounds.extend(place.geometry.location);
            }
          });
          map.fitBounds(bounds);
        });
      }    
</script>

<script 
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBvtmptS9tWIr1UyhUenzyDJajNdj3QHnw&libraries=places&callback=initAutocomplete" async defer></script>
</script>
{% endblock %}