{% extends 'destination_dog/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Add Article
{% endblock %}


{% block header_block %}
<h1>DestinationDog Articles - Add Article<br/>
</h1>
{% endblock %}

{% block body_block %}
<div class="col-container">
        <div class="column side"></div>
        <div class="column middle">
                <form method="post" id="add_article_form" action="{% url 'add_article' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for hidden in form.hidden_fields %}
                        {{ hidden }}
                    {% endfor %}

                    {% for field in form.visible_fields %}
                    <div class="row">
                        <div class="col-25">
                            {{ field.help_text }}
                        </div>
                        <div class="col-75">
                            {{ field }}<br><br>
                        </div>
                    </div>
                    {% endfor %}
        
                    <input type="submit" name="submit" value="Add Article" />
                </form>
        </div>
        <div class="column side"></div>
    </div>
    
{% endblock %}