{% extends 'destination_dog/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Add Events
{% endblock %}

{% block header_block %}
<h1>DestinationDog</h1>

{% endblock %}

{% block body_block %}
    <div>
    <p><h2><strong>Add An Event</strong></h2></p>
        <div>
		<form id="add_event_form" method="post" action="/events/add_event/">
		    {% csrf_token %}
            <table>
                {{ form }}

            </table>

        	<div>
            	<button input type="submit">Create Event</button>
        	</div>
		</form>
        </div>
    </div>

{% endblock %}