{% extends 'destination_dog/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Add Dog
{% endblock %}


{% block header_block %}
<h1><strong>DestinationDog - Add Dog</strong><br/></h1>
{% endblock %}

{% block body_block %}
        <form method="post" id="add_dog_form" action="{% url 'user_profile' user.username %}add_dog/" enctype="multipart/form-data">
            {% csrf_token %}
            <p>This is the page to add a dog</p>
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}

            {% for field in form.visible_fields %}
                {{ field.help_text }}
                {{ field }}<br>
            {% endfor %}

            <input type="submit" name="submit" value="Add Dog to my profile" />
        </form>
{% endblock %}
