{% extends 'destination_dog/base.html' %}
{% load staticfiles %}

{% block body_block %}
    <div class="article-container">
        <div class="article-header">
            <span class="article-title">{{ article.title }}</span>
            <i class="fas fa-paw"></i>
        </div>
        <div class="article">
            {% if article %}
                {% if article.image %}
                        <img class="article-image" src="{{ MEDIA_URL }}{{ article.image }}"/><br><br>
                {% endif %}
                <div class="written_by"> Written by
                    <a class="author-link" href="{% url 'user_profile' article.author.user.username %}">{{ article.author.user.first_name }}
                        {{ article.author.user.last_name }}</a>
                    | ({{ article.date }})
                </div>
                <div class="article-content">
                    <pr>{{ article.article | linebreaks}}</pr>
                </div>
            {% else %}
                Article does not exist
            {% endif %}
        </div>
    </div>
{% endblock %}