{% extends 'destination_dog/base.html' %}
{% load staticfiles %}

{% block body_block %}

    <div class="article-container">
        <div class="article-header">
            <span class="article-title">Articles</span>
            <i class="fas fa-paw"></i>
        </div>

        {% if article %}
            {% for article in article %}
{#                <div class="article-list-item">#}
{#                    <a class="article-title-link" href="{% url 'show_article' article.slug %}">{{ article.title }}</a>#}
{#                </div>#}


                    <a class="article-title-link" href="{% url 'show_article' article.slug %}">
                        <div class="article-list-item"> {{ article.title }}</div>
                    </a>
            {% endfor %}

        {% else %}
            No articles found.
        {% endif %}
    </div>
{% endblock %}