{% extends 'destination_dog/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Articles
{% endblock %}


{% block header_block %}
<h1>DestinationDog Articles<br/>
</h1>
{% endblock %}

{% block body_block %}
<div class="col-container">
    <div class="column side"></div>
    <div class="column middle">
        {% if article%}
            {% for article in article %}
                <a href="{% url 'show_article' article.slug %}">{{ article.title }}</a><br>
                written by {{ article.author }} on {{ article.date }}
            {% endfor %}
        {% else %}
            No articles found.
        {% endif %}
    </div>
    <div class="column side"></div>
</div>
{% endblock %}