<!DOCTYPE html>
{% load staticfiles %}

<html>
{% block script_block %}
    <head lang="en">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
        <script src="{% static 'js/destinationdog-ajax.js' %}"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
                crossorigin="anonymous"></script>
        <script>
            function myFunction() {
                var x = document.getElementById("myTopnav");
                if (x.className === "topnav") {
                    x.className += " responsive";
                } else {
                    x.className = "topnav";
                }
            }
        </script>
        <script>
            function openNav() {
                document.getElementById("mySidenav").style.width = "250px";
                document.getElementById("main").style.marginLeft = "250px";
                document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
            }

            function closeNav() {
                document.getElementById("mySidenav").style.width = "0";
                document.getElementById("main").style.marginLeft = "0";
                document.body.style.backgroundColor = "rgb(216, 216, 216)";
            }
        </script>
        <link rel="stylesheet" type="text/css" href="/static/stylesheets/base.css">
        <link rel="stylesheet" type="text/css" href="/static/stylesheets/article.css">
        <link rel="stylesheet" type="text/css" href="/static/stylesheets/hall_of_fame.css">
        <link rel="stylesheet" type="text/css" href="/static/stylesheets/dotm_article.css">
        <link rel="stylesheet" type="text/css" href="/static/stylesheets/article_list.css">
        <link rel="stylesheet" type="text/css" href="/static/stylesheets/events.css">
        <link rel="stylesheet" type="text/css" href="/static/stylesheets/forms.css">
        <link rel="stylesheet" type="text/css" href="/static/stylesheets/vote.css">
        <link rel="stylesheet" type="text/css" href="/static/stylesheets/locate_services.css">


        <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
              crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css"
              integrity="sha384-3AB7yXWz4OeoZcPbieVW64vVXEwADiYyAEhwilzWsLw+9FgqpyjjStpPnpBO8o8S"
              crossorigin="anonymous">
        <meta charset="UTF-8"/>
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    </head>
{% endblock %}

<body>

{% block topnav_block %}
    <div class="myTopnav">
        <ul class="topnav">
            <li><a href="/destinationdog/">Home</a></li>

            <li class="dropdown"><a href="/destinationdog/articles/" class="dropbtn">Articles</a>
                {% if user.is_authenticated %}
                    <div class="dropdown-content">
                        <a href="/destinationdog/articles/add_article/">Add Article</a>
                    </div>
                {% endif %}
            </li>

            <li class="dropdown"><a href="{% url 'dotm' %}" class="dropbtn">Dog of the Month</a>
                <div class="dropdown-content">
                    {% if user.is_authenticated %}
                        <a href= {% url 'dotm_vote' %}>Vote</a>
                        <a href="{% url 'dotm_enter' %}">Enter</a>
                    {% endif %}
                    <a href="{% url 'dotm_hall_of_fame' %}">Hall of Fame</a>
                </div>
            </li>

            <li class="dropdown"><a href="/destinationdog/locateservice/" class="dropbtn">Locate Services</a>
                <div class="dropdown-content">
                    {% if user.is_authenticated %}
                        <a href="/destinationdog/locateservice/add_service/">Add a Service</a>
                    {% endif %}
                </div>
            </li>

            <li class="dropdown"><a href="/destinationdog/events/" class="dropbtn">Events</a>
                <div class="dropdown-content">
                    {% if user.is_authenticated %}
                        <a href="/destinationdog/events/add_event/">Add an Event</a>
                    {% endif %}
                </div>
            </li>

            <li><a href="/destinationdog/forum/">Forum</a></li>

            {% if user.is_authenticated %}
                <li class="right"><a href="{% url 'user_profile' user.username %}">Profile</a></li>
                <li class="right"><a href="{% url 'logout' %}">Logout</a></li>
            {% else %}
                <li class="right"><a href="{% url 'register' %}">Register</a></li>
                <li class="right"><a href="{% url 'login' %}">Login</a></li>
            {% endif %}

            <li><a href="javascript:void(0);" style="font-size:15px;"
                   class="icon" onclick="myFunction()">&#9776;</a></li>

            <div class="search-container">
                <form action="">
                    <input type="text" placeholder="Go Fetch...." name="search">
                    <button type="submit"><i class="fa fa-search"></i></button>
                </form>
            </div>
        </ul>
    </div>
{% endblock %}

<div class="article-container">
    <div class="article-header">
        {% block header_block %}
        {% endblock %}
        <i class="fas fa-paw"></i>

    </div>
</div>

<div class="article-container">
    {% block body_block %}
    {% endblock %}
</div>


{% block footer_block %}
    <div class="footer">
        <br><br>
        Copyright 2018
        <br><br>
    </div>
{% endblock %}

</body>
</html>