<!DOCTYPE html>
{% load staticfiles %}
<script 
    src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js">
</script>
<script src="{% static "js/jquery.js" %}"></script>

<html>
    <head lang="en">
        <link rel="stylesheet" type="text/css" href="{% static "CSS/Stylesheet.css" %}">
        <meta charset="UTF-8" />
        <meta name="google-signin-client_id" content="1018670492225-ln78iuke55dahg8ehtf3khp481gn4bb0.apps.googleusercontent.com">
        <title>
            DestinationDog
            {% block title_block %}
            {% endblock %}
        </title>

    </head>

    <body>
    <script>
        window.fbAsyncInit = function() {
            FB.init({
                appId      : 621707921505287,
                cookie     : true,
                xfbml      : true,
                version    : v3738502
            });

            FB.AppEvents.logPageView();

        };

        (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "https://connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));


        FB.getLoginStatus(function(response) {
            statusChangeCallback(response);
        });


        {
            status: 'connected',
            authResponse: {
                accessToken: '...',
                expiresIn:'...',
                signedRequest:'...',
                userID:'...'
            }
        }


    <fb:login-button
        scope="public_profile,email"
        onlogin="checkLoginState();">
    </fb:login-button>


    function checkLoginState() {
    FB.getLoginStatus(function(response) {
        statusChangeCallback(response);
        });
    }
</script>

<script>
        function signOut() {
            var auth2 = gapi.auth2.getAuthInstance();
            auth2.signOut().then(function () {
            console.log('User signed out.');
            });
        }


        function onSignIn(googleUser) {
            var profile = googleUser.getBasicProfile();
            console.log('ID: ' + profile.getId());
            console.log('Name: ' + profile.getName());
            console.log('Image URL: ' + profile.getImageUrl());
            console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
        }
</script>
        <div class="topnav">
            <ul class="topnav">
                <li><a href="/destinationdog/">Home</a></li>


                <li class="dropdown"><a href="/destinationdog/articles/" class="dropbtn">Articles</a>
                    {% if user.is_authenticated %}
                    <div class="dropdown-content">
                        <a href="/destinationdog/articles/add_article/">Add Article</a>
                    </div>
                    {%  endif %}
                </li>

                <li class ="dropdown"><a href="{% url 'dotm' %}" class="dropbtn">Dog of the Month</a>
                    <div class="dropdown-content">
                        {% if user.is_authenticated %}
                            <a href= {% url 'dotm_vote' %}>Vote</a>
                            <a href="{% url 'dotm_enter' %}">Enter</a>
                        {% endif %}
                    <a href="{% url 'dotm_hall_of_fame' %}">Hall of Fame</a>
                    </div>
                </li>

                <li class ="dropdown"><a href="/destinationdog/locateservice/" class="dropbtn">Locate Services</a>
                    <div class="dropdown-content">
                    {% if user.is_authenticated %}
                    <a href="/destinationdog/locateservice/add_service/">Add a Service</a>
                    {% endif %}

                </div>
                </li>

                <li class ="dropdown"><a href="/destinationdog/events/" class="dropbtn">Events</a>
                    <div class="dropdown-content">
                    {% if user.is_authenticated %}
                    <a href="/destinationdog/events/add_event/">Add an Event</a>
                    {% endif %}
                </div>
                </li>

                <li><a href="/destinationdog/forum/">Forum</a></li>

                {% if user.is_authenticated %}
                    <li class="right"><a href="{% url 'user_profile' user.username %}">Profile</a></li>
                    <li class="right"><a href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                    <li class="right"><a href="{% url 'register' %}">Register</a></li>
                    <li class="right"><a href="{% url 'login' %}">Login</a></li>
                {% endif %}

                

                <div class="search-container">
                    <form action="">
                        <input type="text" placeholder="Go Fetch...." name="search">
                        <button type="submit"><i class="fa fa-search"></i></button>
                    </form>
                </div>


            </ul>
        </div>
        {% block body_block %}
        {% endblock %}

        {% block script_block %}
        {% endblock %}

        <div class=bottomnav">
            <ul>
                <li><a href="/destinationdog/about/">About</a></li>
                <li><a href="/destinationdog/contactus/">Contact Us</a></li>
                <li><a href="/destinationdog/sitemap/">Site Map</a></li>
            </ul>
        </div>
    </body>
</html>