{% extends 'destination_dog/base.html' %}
{% load staticfiles %}

{% block title_block %}
    {{ article.title }}
{% endblock %}

{% block header_block %}
<h1>DestinationDog Articles<br/>
</h1>
{% endblock %}

{% block body_block %}
<div class="col-container">
        <div class="column side"></div>
        <div class="column middle">
                {% if article %}
                <h3> {{ article.title }} </h3>
                {% if article.image %}<img src="{{ MEDIA_URL }}{{ article.image }}"/><br><br>
                {% endif %}
                Written by  <a href="{% url 'user_profile' article.author.user.username %}">{{article.author.user.first_name}} {{ article.author.user.last_name }}</a>
                ({{ article.date }})<br><br>
                <pr>{{ article.article }}</pr><br><br>
            {% else %}
                Article does not exist
            {% endif %}
        </div>
        <div class="column side"></div>
    </div>
{% endblock %}