{% extends 'destination_dog/base.html' %}
{% load staticfiles %}

{% block body_block %}
    <div class="article-container">
        <div class="article-header">
            <span class="article-title">Dog of the Month</span>
            <i class="fas fa-paw"></i>
        </div>
        <div class="article">
                <img class="article-image" src="{{ MEDIA_URL }}{{ winner.image }}"/><br><br>
                <div class="dog-name"> {{ winner.dog }}</div>
                <div class="owned_by">
                    Owned by <a class="owner-link" href=" {% url 'user_profile' winner.owner.user.username %}"> {{winner.owner.user.first_name}} {{winner.owner.user.last_name}} </a>
                </div>
                <div class="article-content">
                    <pr>{{ article.article | linebreaks}}</pr>
                </div>
        </div>
    </div>
{% endblock %}