{% extends 'destination_dog/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Dog Of The Week Enter
{% endblock %}


{% block header_block %}
<h1>DestinationDog - Dog of the Week <br/>
</h1>
{% endblock %}

{% block body_block %}
    <div>
        <form method = "post" action="{% url 'dotw_enter' %}">
            {% csrf_token %}

            {% for field in form %}
                {{ field.help_text }}
                {{ field }}<br><br>
            {% endfor %}

            <input type="submit" name="enter" value="Enter" />
        </form>
    </div>
{% endblock %}