{% extends 'destination_dog/base.html' %}
{% load staticfiles %}

{% block title_block %}
    {{ event.name }}
{% endblock %}

{% block header_block %}
{% endblock %}

{% block body_block %}
    {% if event %}
        <h3> {{ event.name }} </h3>
        <p id="address">{{ event.location }}</p>
        <div>
            <div id="map" style="width:350px;height:350px;background:yellow"></div>
        </div>
        <p>
            {{ event.description }}<br>
            {{ event.date }}<br>
            {{ event.time }}<br>
        </p>
        <div id="attendance_count">
            {{ event.attendees }} are attending.
        </div>
        
        <button id="goingBtn" onclick="attendance()">Attend</button>
        <button id="notGoingBtn" onclick="dropOut()" display="none">Can't Make It</button>
    {% else %}
        Event does not exist
    {% endif %}

    <p>Comments section where people can ask questions about the event etc</p>


    <script 
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBvtmptS9tWIr1UyhUenzyDJajNdj3QHnw&libraries=places&callback=initMap" async defer></script>
    </script>
    
    <script>
        function initMap() {
            var address = document.getElementById('address').innerHTML;
                        
            var geocoder = new google.maps.Geocoder();
            
            geocoder.geocode({'address': address}, function(results, status) {
              if (status === 'OK') 
              {
                var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 15,
                center: results[0].geometry.location
                });
                var marker = new google.maps.Marker({
                    map: map,
                    position: results[0].geometry.location
                });
              } 
              else 
              {
                alert('Geocode was not successful for the following reason: ' + status);
              }
            });
        }
        
        function attendance() {
            if(event.attendees == 0) {
                document.getElementById("going").innerHTML = "You are attending.";
            }
            else {
                document.getElementById("going").innerHTML = "You and " + event.attendees + " are attending.";
            }
        }
    
    </script>
{% endblock %}