{% extends 'destination_dog/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Events
{% endblock %}



{% block body_block %}
    <div>
   <strong><u>List of Events</u></strong>

        {% if events %}
        <ul>
            <li>Name</li><li>Description</li></br>
            {% for event in events %}
            <li>{{ event.name }}  {{ event.name}}</li></br>
            {% endfor %}
        </ul>
        {% else %}
            <strong>There are no events present.</strong><br/>
        {% endif %}
    </div>

    <div>
        <a href="/destinationdog/events/add_event/" class="button">Add an Event</a>
    </div>
{% endblock %}