{% extends 'destination_dog/base.html' %}
{% load staticfiles %}

{% block style_block%}
<style>
.floating-box{
    float: left;
    width: 250px;
    height: 300px;
    margin: 100px;
}
table{
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}

th, td{
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){
    background-color: #f2f2f2;
}
</style>

{% endblock %}

{% block title_block %}
    Locate A Service
{% endblock %}



{% block body_block %}
<div>
    <strong>{{ boldmessage }}</strong><br/>
</div><br />

<div id="details">
    Postcode:<br>
    <input type="text" name="postcode" value="Please enter postcode">
    <br>
    Distance:<br>
    <select name="cars">
        <option value="5">5</option>
        <option value="10">10</option>
        <option value="15">15</option>
        <option value="20">20</option>
    </select>
    <br>
    Service:<br>
    <select name="cars">
        <option value="Vets">Vets</option>
        <option value="Groomers">Groomers</option>
        <option value="Pet Store">Pet Store</option>
        <option value="Kennels">Kennels</option>
    </select>
    <br>
    <button id="submitBtn" type="button" onclick="submit()">Search</button>
</div>

<div id="results" style="display:none;overflow:auto;width:400px;height:400px">
    <table>
        <tr>
            <th>First Name</th>
        </tr>
        <tr>
            <td>Jill</td>
        </tr>
        <tr>
            <td>Eve</td>    
        </tr>
        <tr>
            <td>Adam</td>
        </tr>
    </table>
</div>

<div>
    <div id="map" style="width:400px;height:400px;background:yellow"></div>
</div>



{% block script_block %}
<script>
    function myMap() {
        var mapOptions = {
            center: new google.maps.LatLng(51.5, -0.12),
            zoom: 4,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        }
        var map = new google.maps.Map(document.getElementById("map"), mapOptions);
    }

    function submit()
    {
        document.getElementById("details").style.display = "none";
        document.getElementById("results").style.display = "block";
        document
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBvtmptS9tWIr1UyhUenzyDJajNdj3QHnw&callback=myMap"></script>
{% endblock %}

{% endblock %}