{% extends 'destination_dog/base.html' %}
{% load staticfiles %}

{% block header_block %}
    <span class="title">Login</span>
{% endblock %}

{% block body_block %}
    <div class="form">
        <form id="login_form" method="post" action="{% url 'login' %}">
            {% csrf_token %}
            Username: <input type="text" name="username" value="" size="50"/>
            Password: <input type="password" name="password" value="" size="50"/>
            <input type="submit" value="submit"/>
        </form>
    </div>
{% endblock %}