{% extends 'destination_dog/base.html' %}
{% load staticfiles %}

{% block header_block %}
    <span class="title">Register</span>
{% endblock %}

{% block body_block %}
    {% if registered %}
        You're already registered!
    {% else %}
        Register here:<br>
        <form id="user_form" method="post" action="{% url 'register' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <!-- Display each form -->
            {{ user_form.as_p }}
            {{ profile_form.as_p }}
            <input type="submit" name="submit" value="Register"/>
        </form>
    {% endif %}
{% endblock %}