{% extends 'destination_dog/base.html' %}
{% load staticfiles %}

{% block title_block %}
    {{ profile.user.first_name }}
{% endblock %}

{% block header_block %}
<h1>DestinationDog Profiles<br/>
</h1>
{% endblock %}

{% block body_block %}
    {% if user %}
        <h3> {{ profile.user.first_name }} {{ profile.user.last_name }} </h3>
        {% if profile.picture %}
         <img src="{{ MEDIA_URL }}{{ profile.picture }}"/><br><br>
        {% endif %}
        <h3><u>{{ profile.user.first_name }}'s Dogs</u></h3><br/>
        {% if dogs %}
            <ul>
                {% for dog in dogs %}
                <li>
                    <div>
                        {{ profile.user.dog.name }} {{ profile.user.dog.picture }}<br/>
                    </div>
                </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>You don't have any dogs</p>
        {% endif %}
            
        <p><a href="{% url 'add_dog' %}" class="button">Add a Dog</a></p>

    {% else %}
        No user found
    {% endif %}
{% endblock %}