{% extends 'destination_dog/base.html' %}
{% load staticfiles %}

{% block title_block %}
    {{ article.title }}
{% endblock %}

{% block header_block %}
<h1>DestinationDog Articles<br/>
</h1>
{% endblock %}

{% block body_block %}
    {% if user %}
        <h3> {{ user.first_name }} {{ user.last_name }} </h3>
        {% if user.userprofile.picture %}
         <img src="{{ MEDIA_URL }}{{ user.userprofile.picture }}"/><br>
        {% endif %}
    {% else %}
        No user found
    {% endif %}
{% endblock %}